.account-page{
  display: flex;
  justify-content: center;
  color: white;
}

.account-box{
  display: block;
  text-align: center;
  justify-content: center;
  width: 500px;
}
.account-box div{
  padding: 15px;
  color: white;
  background-color: #252525;
  border-radius: 10px;
  font-size: 1.2rem;
  margin: 20px;
}



.account-box div p{
  background-color: #1a1a1a;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.account-input input{
  width: 60%;
  height: 1.5rem;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  background-color: #1a1a1a;
  border-radius: 10px;
  border: none;
  color: white;
}

.account-box button{
  margin: 20px;
  width: 130px;
  height: 3rem;
  border: none;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: black;
  color: white;
  border-radius: 12px;
  
}