
.header-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10px;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(243, 243, 243, 0.801);
  transform: translateY(-100%);
  animation: slideDown 0.8s forwards;
}

@keyframes slideDown {
  to {
      transform: translateY(0);
  }
}

.header-content {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.logo-img{
  
  width: 100px;
}

.menu{
  
}


.nav {

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-center{
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.search-bar {
  display: flex;
  background-color: aqua;
}




