
@media (max-width: 1000px) {
  
  .logo-img{
    display: none;
  }

  .nav{
    width: 100%;
  }
  .nav-center{
    display: flex;
    justify-content: center;
  }

  .category-box{
    display: flex;
  }
  .category-box button{
    padding: 8px;
    margin: 5px 5px;
    height: auto;
    font-size: 14px;
    width: auto;
  }

}

.header-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  transform: translateY(-100%);
  animation: slideDown 0.8s forwards;
}

@keyframes slideDown {
  to {
      transform: translateY(0);
  }
}

.header-content {
  width: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0 0 20px 20px;
  
  
}


.logo-img{
  width: 80px;
  
}

.nav {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-center{
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}






