
@media (max-width: 1000px) {
  

  .logo-img{
    display: none;
  }

  .nav{
    width: 100%;
  }
  .nav-center{
    display: flex;
    justify-content: center;
    background-color: rgba(240, 240, 240, 0.87);
    padding: 0 15px;
    border-radius: 0 0 25px 25px;
  }

  .search-box{
    display: flex;
    justify-content: center;
    justify-items: center;
  }

  .search-input{
    border-width: 1px;
    font-weight: bolder;
  }
  .search-input::placeholder{
    color: black;
  }

  .header-content{
    background-color: transparent;
  }

  .category-box{
    
    display: flex;
  }
  .category-box button{
    padding: 8px;
    margin: 5px 5px;
    height: auto;
    font-size: 14px;
    width: auto;
  }

}

.header-container {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  transform: translateY(-100%);
  animation: slideDown 0.8s forwards;
}

@keyframes slideDown {
  to {
      transform: translateY(0);
  }
}

.header-content {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}


.logo-img{
  width: 100px;
  
}

.nav {

  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-center{
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nav-item {
  margin: 0 15px;
  text-decoration: none;
  color: black;
}

.search-bar {
  display: flex;
}




