.view{
    display: flex;
    justify-content: center;
}
.view-width{
    width: 80%;
}

@media (max-width:1000px) {

    .top-nav{
        margin: 0;
    }
    .middle-nav{
        border: none;
    }
    .top-nav{
        margin: 12px;
    }
    .top-nav .nav-item{
        color: white;
        background-color: black;
        padding: 10px;
        font-size: 14px;
        border-radius: 8px;
        margin: auto;
        
        
    }

    .view-width{
        width: 100%;
    }
    .product-box .product{
        width: 400px;
        display: flex;
    }
    .display-flex{
        display: flex;
    }
    .display-block{
        display: block;
    }
    .product-box .product:hover{
        border-radius: 20px;
        background-color: rgba(216, 216, 216, 0.205);
        display: flex;
        margin: 10px;
        width: 400px;
        padding: 16px;
    }
    
    .product .product-img{
        display: flex;
        justify-content: center;
        justify-items: center;
        margin: 0 20px 0 10px;
        height: 110px;
        width: 110px;
    }

    .product-box .product-text{
        margin: 3px 5px;
    }

    .product-box .title{
        font-weight: bolder;
        font-size: 16px;
    }
    .product-box .price{
        font-weight: bolder;
        font-size: 20px;
    }
    .product-box .address{
        font-size: 14px;
        width: auto;
    }
    .product-box .status{
        font-size: 14px;
        width: 70px;
        margin: 5px 0;
        padding: 5px;
    }
    .product-box .transaction-method{
        font-size: 14px;
    }
}

.product-view{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.product-box{
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    
}
.product{
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    display: block;
    margin: 10px;
    width: 220px;
    padding: 16px;
}
.product:hover{
    border-radius: 20px;
    background-color: rgba(216, 216, 216, 0.205);
    display: block;
    margin: 10px;
    width: 220px;
    padding: 16px;
}

.product-img{
    text-align: center;
    border-radius: 25px;
    height: 220px;
    width: 100%;
    margin-bottom: 12px;
}

.product-text{
    text-decoration-line: none;
    margin: 10px 0;
}

.product-buttons{
    text-align: center;
    display: flex;

}

.product-button{
    margin: 10px 10px 0 0;
    border: none;
    width: 120px;
    height: 36px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 15px;
}

.transaction-method{
    margin: 10px 0;
    width: 80px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    padding: 3px;
    border-radius: 10px;
}

.title{
    width: auto;
    max-width: 260px;
    font-weight: bolder;
    font-size: 18px;
}

.price{
    font-weight: bolder;
    font-size: 1.3rem;
    
}
.address{
    font-weight: bolder;
    margin: 10px 0;
    width: auto;
    color: #dbdbdb;
    font-size: 16px;
    padding: 3px;
    border-radius: 12px;
    
}
.status{
    margin: 3px 0;
    width: fit-content;
    background-color: #252525;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 3px 10px;
    border-radius: 8px;
}
.product-status{
    color: #b3b3b3;
    font-size: 13px;
}

.display-between{
    display: flex;
    justify-content: space-between;
}