.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  background: #151515;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.product-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  
}

.product-images .main-image {
  width: 380px;
  height: 380px;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.thumbnail-images {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.thumbnail-images img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail-images img:hover {
  transform: scale(1.1);
}

.product-info {
  flex: 1;
  padding: 2rem;
}

.product-info h1 {
  font-size: 2rem;
  color: #ffffff;
}

.price {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #252525;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
  
}

.shipping-included {
  font-size: 0.9rem;
  color: #3a3a3a;
  margin-left: 5px;
}

.transaction-method{
  margin: 10px 0;
  width: 70px;
  background-color: #8e54b471;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  
}

.location{
  font-weight: bolder;
  margin: 10px 0;
  width: 70%;
  color: #dbdbdb;
  font-size: 16px;
  padding: 3px;
  border-radius: 12px;
}

.condition{
  margin: 10px 0;
  width: fit-content;
  background-color: #252525;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 3px 10px;
  border-radius: 12px;
}

.view-box{
  display: flex;
  justify-content: space-between;
}
.view-box p{
  margin: 14px 0;
  width: auto;
  background-color: #252525;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  padding: 3px 12px;
  border-radius: 12px;
}

.views {
  margin: 14px 0;
  width: auto;
  background-color: #252525;
  color: rgb(255, 255, 255);
  font-size: 14px;
  text-align: center;
  padding: 3px 12px;
  border-radius: 12px;
}

.product-description h2 {
  font-size: 1.3rem;
  color: #ffffff;
}

.product-description{
  background-color: #252525;
  padding: 10px;
  border-radius: 10px;
  color: #e6e6e6;
  line-height: 1.6;
}



.actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.button-box{
  width: 100%;
  justify-content:space-between;
  display: flex;
}

.wish-button,
.like-button,
.purchase-button {
  margin: 0 10px;
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.like-button{
  background-color: black;
  color: rgb(255, 255, 255);
}
.like-button:hover{
  background-color: rgb(65, 65, 65);
}
.wish-button {
  background-color: #f8d7da;
  color: #d9534f;
}

.wish-button:hover {
  background-color: #f0a6ae;
}

.purchase-button {
  background-color: #111111;
  color: white;
  
}

.purchase-button:hover {
  background-color: rgb(37, 37, 37);
}

.thumbnail-images .active-thumbnail {
  border: 2px solid #d9534f;
  transform: scale(1.1);
}