@media(max-width:1000px) {
  .side-nav{
    display: none;
  }
}

.side-nav{
  position: fixed;
  top: 10%;
  left: 25px;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
}
.side-nav li{
  color: white;
  list-style: none;
  margin: 20px 0;
  cursor:pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;

}
.side-nav li a{
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(46, 43, 43);
  border-radius: 10px;
  padding: 5px;
}

.side-nav li a img{
  width: 30px;

}

.side-nav li a:hover{
  background-color: rgb(65, 65, 65);
}

.side-nav .sign a{
  background-color: rgb(255, 146, 58);
}
.side-nav .sign a:hover{
  background-color: rgb(255, 124, 18);
}
